services:
  standalone:
    build:
      context: ../
      dockerfile: docker/Dockerfile.standalone
    devices:
      - /dev/kfd
      - /dev/dri
    security_opt:
      - seccomp:unconfined
    volumes:
      - ../:/app
